* {
  margin: 0;
  padding: 0;
  text-align: center;
}
h1 {
  background-color: #081b31;
  color: whitesmoke;
  height: 5rem;
  /* font-size: 3.25rem; */
  line-height: 5rem;
  text-align: center;
}

.choice {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.choice:hover {
  cursor: pointer;
  background-color: #081b31;
  opacity: 0.8;
}
img {
  height: 150px;
  width: 150px;
  object-fit: cover; /*make original image*/
  border-radius: 50%;
  border: 1px solid black;
}
.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  font-size: 2rem;
  gap: 5rem;
}
#user-score,
#comp-score {
  font-size: 4rem;
}

.msg-container {
  margin-top: 4rem;
}
#msg {
  background-color: aquamarine;
  color: black;
  font-size: 2rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
}
